.product-images {
  width: 5rem;
  height: auto;
}

.result-items {
  width: 100%;
  table-layout: fixed;
}

.result-items td {
  white-space: unset;
}

th.width10 {
  width: 10%;
}

th.width20 {
  width: 20%;
}

th.width30 {
  width: 30%;
}

th.width40 {
  width: 40%;
}
