.original-price {
  text-decoration: line-through;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.total-price {
  font-size: 1.25rem;
  font-weight: 700;
}
